@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
.bg {
  color: #e7ecf3;

}

.joshi {
  background-image: url('https://www.shutterstock.com/image-photo/customer-experience-concept-woman-hand-600nw-1576875433.jpg');
  background-size: cover;
  object-fit: cover;
  min-width: 100% !important;
  height: 85vh;
  background-position: center;
  



}

.kanha {
  width: 40%;
  color: white;
  background-color: #e7ecf325;
  margin-left: 25rem;
  padding: 10px ;
  text-align: center;
  border-radius: 0.7rem;
  backdrop-filter: blur(20px);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.bottom {
  width: 90%;
  border-bottom: 1px solid white;
  text-align: center;
}

.dnone {
  display: none;
}
.footerfa{
  font-family: Afacad !important;
  

}
.ram {
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: white;
}

.boxshadow {
  width: 100%;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
}

.bgimg {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/25/16/00/art-3561710_640.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  padding-top: 3%;
}

.butto {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45%;
  height: 3.5rem;

}
.butt{
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
.butta{
  padding:10px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 5px;
}
.down{
  position: relative;
  top: 3re;
}
.maindown{
  position: absolute;
}

.zoom:hover img{
  width: 100%;
  height: 100%;
 
}
.sedow{
  width: 98%;
  height: 98%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card a:hover img{
  transform: scale(1.1);
  transition: all 1s;
}


.card{
  overflow: hidden;
  margin-bottom: 10px;
}
.shree img{
  aspect-ratio: 3/2;
}

@media (max-width:768px) {
  .dnone {
    display: block;
    
    
  } 
  .dnone2 {
    position: sticky;
    top: 51.9px;
    z-index: 999;
  }
  
  .dnone1 {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .ram {
    display: none;
  }
  
  .sj {
    order: 2;
  }
  .kanha{
    padding: 0;margin: 0;
    width: 100%;
    text-align: center;
    
  }
  .down{
    position: relative;
    top: 0rem;
  }
  .maindown{
    position: absolute;
    left: 0;
  }
  .joshi{
    height: 40rem;
  }
  .textc{
    text-align: center;
  }
  .clicktotogel{
    background:transparent;
  
  }
  #carouselExampleCaptions{
    margin-top: 1vh;
  }
  .but{
    outline: none;
  }
  .bgimg{
    height: 100%;
  }
.butto{
  width: 70%;
}
}

@media (max-width:768px) {
  .sj{
    order: 2;
  }
}


.joshi{
  background-image: url(https://cdn.pixabay.com/photo/2018/07/25/16/00/art-3561710_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
 
}
.kanha{
  color: white;
  padding: 20px;
  padding-top: 60px;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.bottom{
  width: 90%;
  border-bottom: 1px solid white;
  text-align: center;
}
.mainpage{
  height: 100vh;
  width: 100%;
  background-image: url("https://www.kanhahotelnims.org/hotel1/assets/images/blog_img/hotelbg.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: transparent;


}
body{
  background-color: #f0ecec;

}
.fullbtn{
  background-color: blueviolet;
  color: white;
  height: 45px;
  width: 45%;
  border-radius: 27px 1px 27px 1px;
}
.fullbtn:hover{
  border: 2px solid blueviolet;
}
.main{
    
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/941/847/original/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg");
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 label{
  color: white;
 }
 .suresh{
  background-color: transparent !important;
  border-radius: 50px !important;
  height: 43px !important;
 }
 textarea{
  background-color: transparent;
  border-radius: 10px;
  color: white !important;
 }
 
 .form{
  width: 35%;
  padding: 20px;
 }
 .suresh:focus{
  background-color: white !important;
 }
 .mind{
  height: 100vh;
  width: 100%;
  background-image: url("https://www.kanhahotelnims.org/hotel1/assets/images/blog_img/hotelbg.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: transparent;


}
.body{
  background-color: #f0ecec;

}
.footerfa{
  background: radial-gradient(circle, rgba(238, 174, 202, 0.527) 0%, rgba(148, 188, 233, 0.538) 100%);
}

@media (max-width:1050px) {
  .sj{
      height: 80vh;
      width: 100%;
  }
  
  }
@media (max-width:1000px) {
  .form{
    width: 100%;
}
}
.line{
  width: 40%;
  border-bottom: 3px solid blue;
}
@media (max-width:768px) {
  .content{
    order: 1 !important;
  }
  .shyam{
    order: 2 !important;
  }
}
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: red !important;
}

